html {
  background: url(../imagens/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  height: 100%; }

body {
  margin: 0 auto;
  padding: 0; }

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  margin-top: -1px; }

section#wrapper {
  display: block;
  width: 100%;
  height: 100%; }
  section#wrapper div#menu {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; }
    section#wrapper div#menu ul.menu-horizontal > li:hover, section#wrapper div#menu ul.menu-vertical > li:hover {
      background: #00aaff;
      color: black; }
    section#wrapper div#menu a {
      color: white;
      text-decoration: none; }
  section#wrapper div#submenu {
    background-color: rgba(0, 0, 0, 0.6); }
    section#wrapper div#submenu ul.menu-horizontal > li:hover, section#wrapper div#submenu ul.menu-vertical > li:hover {
      background: #77ddff;
      color: black; }
    section#wrapper div#submenu a {
      color: white;
      text-decoration: none; }
  section#wrapper div#menu, section#wrapper div#submenu {
    width: 260px;
    height: 100%;
    float: left; }
    section#wrapper div#menu header, section#wrapper div#submenu header {
      margin: 0 auto;
      padding-top: 0.5em;
      width: 240px;
      font-size: 22px;
      font-weight: bold;
      color: #bbeeff; }
    section#wrapper div#menu nav, section#wrapper div#submenu nav {
      margin: 0 auto;
      width: 240px; }
      section#wrapper div#menu nav ul, section#wrapper div#submenu nav ul {
        margin: 0 auto;
        list-style: none;
        padding: 0.5em 0; }
        section#wrapper div#menu nav ul #perfil > li, section#wrapper div#submenu nav ul #perfil > li {
          text-align: center;
          color: #f00; }
      section#wrapper div#menu nav ul#perfil li, section#wrapper div#submenu nav ul#perfil li {
        text-align: center; }
      section#wrapper div#menu nav ul.menu-horizontal, section#wrapper div#submenu nav ul.menu-horizontal {
        display: table; }
        section#wrapper div#menu nav ul.menu-horizontal li, section#wrapper div#submenu nav ul.menu-horizontal li {
          float: left; }
          section#wrapper div#menu nav ul.menu-horizontal li:hover, section#wrapper div#submenu nav ul.menu-horizontal li:hover {
            cursor: pointer; }
          section#wrapper div#menu nav ul.menu-horizontal li img, section#wrapper div#submenu nav ul.menu-horizontal li img {
            vertical-align: bottom;
            padding: 5px 8px; }
      section#wrapper div#menu nav ul.menu-vertical li, section#wrapper div#submenu nav ul.menu-vertical li {
        padding: 8px 5px; }
        section#wrapper div#menu nav ul.menu-vertical li:hover, section#wrapper div#submenu nav ul.menu-vertical li:hover {
          cursor: pointer; }
        section#wrapper div#menu nav ul.menu-vertical li a, section#wrapper div#submenu nav ul.menu-vertical li a {
          line-height: 24px; }
        section#wrapper div#menu nav ul.menu-vertical li img, section#wrapper div#submenu nav ul.menu-vertical li img {
          vertical-align: bottom;
          margin-right: 3px; }
  section#wrapper div#conteudo {
    width: auto;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.15); }

