$menu_back: 0.8;
$menu_fore: #fff;

$menu_hover_back: #0af;
$menu_hover_fore: #000;

$submenu_header: #bef;

$submenu_back: 0.5;
$submenu_fore: #fff;

$submenu_hover_back: #7df;
$submenu_hover_fore: #000;

html
{
	background: url(../imagens/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body
{
	overflow: hidden;
	height: 100%;
}

body
{
	margin: 0 auto;
	padding: 0;
}

div.clear
{
	clear: both;
	height: 1px;
	overflow: hidden;
	font-size: 0;
	margin-top: -1px;
}

section#wrapper
{
	display: block;
	width: 100%;
	height: 100%;

	div#menu
	{
		background-color: rgba(0, 0, 0, $menu_back);
		color: $menu_fore;

		ul.menu-horizontal > li:hover, ul.menu-vertical > li:hover
		{
			background: $menu_hover_back;
			color: $menu_hover_fore;
		}

		a
		{
			color: $menu_fore;
			text-decoration: none;
		}
	}

	div#submenu
	{
		background-color: rgba(0, 0, 0, $submenu_back);

		ul.menu-horizontal > li:hover, ul.menu-vertical > li:hover
		{
			background: $submenu_hover_back;
			color: $submenu_hover_fore;
		}

		a
		{
			color: $submenu_fore;
			text-decoration: none;
		}
	}

	div#menu, div#submenu
	{
		float: left;
		width: 260px;
		height: 100%;
		opacity: 0.8;

		header
		{
			margin: 0 auto;
			padding-top: 0.5em;
			width: 240px;
			font-size: 22px;
			font-weight: bold;
			color: $submenu_header;
		}

		nav
		{
			margin: 0 auto;
			width: 240px;

			ul
			{
				margin: 0 auto;
				list-style: none;
				padding: 0.5em 0;

				#perfil > li
				{
					text-align: center;
					color: #f00;
				}
			}

			ul#perfil
			{
				li
				{
					text-align: center;
				}
			}

			ul.menu-horizontal
			{
				display: table;

				li
				{
					float: left;

					&:hover
					{
						cursor: pointer;
					}

					img
					{
						vertical-align: bottom;
						padding: 5px 8px;
					}
				}
			}

			ul.menu-vertical
			{
				li
				{
					padding: 8px 5px;

					&:hover
					{
						cursor: pointer;
					}

					a
					{
						line-height: 24px;
					}

					img
					{
						vertical-align: bottom;
						margin-right: 3px;
					}
				}
			}
		}
	}

	div#conteudo
	{
	}
}