@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif pb-12;
  }

  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans text-gray-100;
  }

  h1 {
    @apply mb-8 text-3xl font-black;
  }

  h2 {
    @apply mb-2 text-xl;
  }

  h3 {
    @apply mb-1 text-lg;
  }

  p + p {
    @apply my-4;
  }

  a {
    @apply text-blue-400;

    &:hover,
    &:active {
      @apply text-blue-300 underline;
    }
  }

  blockquote {
    @apply max-w-3xl pl-4 py-3 border-l-2 border-blue-300 text-lg leading-8;
  }

  blockquote + p {
    @apply mt-4;
  }

  ul {
    @apply list-disc ml-8;
  }

  nav a {
    @apply px-4 py-3 rounded-md hover:bg-gray-700;
  }
}
