<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - fmoliveira.dev</title>
  <link rel="stylesheet" href="css/tailwind.css"/>
  {% set css %}
    {% include "css/menu.css" %}
  {% endset %}
  <style>
    {{ css | safe }}
  </style>
</head>
<body class="min-h-screen bg-gray-800 text-gray-100 px-8 py-4">
  
  <div class="navbar mb-10 grid gap-5 lg:grid-rows-1">
    <header class="text-3xl col-start-1 justify-self-start">fmoliveira.dev</header>
    <input id="menu-button" type="checkbox" class="menu-checkbox" />
    <label for="menu-button" class="w-10 h-10 col-start-2 justify-self-end grid place-items-center cursor-pointer rounded-md hover:bg-gray-700 lg:hidden">
      <span class="menu-icon" />
    </label>
    <nav class="menu-content col-start-1 col-end-3 flex flex-col gap-2 text-center lg:gap-4 lg:col-start-2 lg:flex-row lg:justify-end">
      <a class="px-4 py-3 rounded-md hover:bg-gray-700" href="/">Home</a>
      <a class="px-4 py-3 rounded-md hover:bg-gray-700" href="/blog">Blog</a>
      <a class="px-4 py-3 rounded-md hover:bg-gray-700" href="/contact">Contact</a>
    </nav>
  </div>

  <div class="pb-10">
    <h1>{{ title }}</h1>
  </div>

  <main>{{ content | safe }}</main>

  <script async defer data-domain="fmoliveira.dev" src="https://plausible.io/js/plausible.js"></script>

</body>
</html>