<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filipe Oliveira - Software Engineer</title>
  <link rel="stylesheet" href="/css/tailwind.css"/>
  {% set css %}
    {% include "css/menu.css" %}
  {% endset %}
  <style>
    {{ css | safe }}
  </style>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Montserrat:wght@700;900&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen bg-gray-800 text-gray-200 px-8">
  
  <div class="navbar py-5 grid lg:grid-rows-1">
    <header class="text-2xl font-black col-start-1 justify-self-start place-self-center">
      <a href="/" class="text-logo">fmoliveira.dev</a>
    </header>
    <input id="menu-button" type="checkbox" class="menu-checkbox" />
    <label for="menu-button" class="w-10 h-10 col-start-2 justify-self-end grid place-items-center cursor-pointer rounded-md hover:bg-gray-700 lg:hidden">
      <span class="menu-icon" />
    </label>
    <nav class="menu-content col-start-1 col-end-3 flex flex-col gap-2 text-center lg:gap-4 lg:col-start-2 lg:flex-row lg:justify-end">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/uses">My Setup</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>

  <main>{{ content | safe }}</main>

  <script async defer data-domain="fmoliveira.dev" src="https://plausible.io/js/plausible.js"></script>

</body>
</html>