@import '_reset'
@import '_colors'
@import '_icons'
@import '_menu'
@import '_blockquote'

sidebar-width = 15em

body
  display flex
  min-height 100vh
  flex-direction column

.wrapper
  display flex

.sidebar
  flex 0 0 sidebar-width
  order -1

.profile
  text-align center
  padding 0 3px
  
  img
    width 100%

footer
  text-align center
  border-top 1px solid color-default
  margin 2em 1em