@import '_reset'
@import '_colors'
@import '_blockquote'

// sidebar-width = 15em

// body
//   display flex
//   min-height 100vh
//   flex-direction column

// .wrapper
//   display flex

// .sidebar
//   flex 0 0 sidebar-width
//   order -1
//   background-color color-navy

// .profile
//   text-align center
//   padding 0 3px

//   img
//     width 100%

// footer
//   text-align center
//   border-top 1px solid color-default
//   margin 2em 1em

header
  width 100%
  height 400px
  background-color color-black
  color color-teal
  text-align center
  padding-top 2em

h1
  font-size 4em

h2
  font-size 2em

h3
  font-size 1.5em

main
  margin 0 auto
  padding 2em
  max-width 1000px

footer
  text-align center
