@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@900&display=swap");

body {
  @apply bg-gray-900 text-gray-100 font-normal;
  font-family: "Merriweather", serif;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-black;
  font-family: "Montserrat", sans-serif;
}

header {
  @apply text-3xl my-4;
  color: #66e0ff;
}

h1 {
  @apply text-3xl mb-4;
}

h2 {
  @apply text-xl my-4;
}

h3 {
  @apply text-lg my-3;
}

a {
  @apply text-teal-100;
}

a:hover {
  @apply text-teal-200;
}

.markdown p {
  @apply mb-4;
}

.markdown a {
  background-image: linear-gradient(
    90deg,
    rgb(102 224 255) 0%,
    rgb(102 255 181) 33%,
    rgb(194 255 102) 67%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.markdown a:hover {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}

.markdown img {
  @apply my-8;
}

.markdown blockquote {
  @apply -ml-8 mb-8;
}

.markdown ul {
  @apply list-disc mb-8;
  text-indent: 1.5em;
}

.markdown ul ul {
  @apply mb-0;
  text-indent: 3em;
}

.markdown ol {
  @apply list-decimal mb-8;
  text-indent: 1.5em;
}

.markdown li p {
  @apply mb-0;
}
