<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="welcome-page">
      <div class="wrapper">
        <header>
          <img src="/assets/tfmoliveira.jpg" alt="Filipe Oliveira">
          <h1>Filipe Oliveira</h1>
          <aside>Software Engineer &amp; Entrepreneur</aside>
        </header>
        <content>
          <p>
            {{ content }}
          </p>
        </content>
        <footer>
          <a class="social-link" href="https://www.instagram.com/tfmoliveira/" target="_blank" rel="noopener">{% include home-icon-instagram.svg %}</a>
          <a class="social-link" href="https://github.com/fmoliveira" target="_blank" rel="noopener">{% include home-icon-github.svg %}</a>
          <a class="social-link" href="https://twitter.com/tfmoliveira" target="_blank" rel="noopener">{% include home-icon-twitter.svg %}</a>
        </footer>
      </div>
    </main>

  </body>

</html>
