<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <title>Filipe Oliveira - Software Engineer</title>
  <style type="text/css">
    html, body {
      margin: 0;
      background-color: #014B7A;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
    #aboutme {
      width: 100%;
      margin-top: 20vh;
      text-align: center;
    }
    .social-link, .social-link path {
      fill: #ffffff;
    }
    .social-link:hover, .social-link:hover path {
      fill: #3DC8FF;
    }
  </style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42379864-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-42379864-1');
  </script>
</head>
<body>

  <div id="aboutme">
    <main>
      <img src="{{ '/assets/aboutme.png' | relative_url }}" alt="About me"/>
    </main>

    <footer>
      <a class="social-link" href="https://www.linkedin.com/in/oliveirafilipe/" target="_blank" rel="noopener">{% include home-icon-linkedin.svg %}</a>
      <a class="social-link" href="https://github.com/fmoliveira" target="_blank" rel="noopener">{% include home-icon-github.svg %}</a>
      <a class="social-link" href="https://twitter.com/tfmoliveira" target="_blank" rel="noopener">{% include home-icon-twitter.svg %}</a>
      <a class="social-link" href="https://www.instagram.com/tfmoliveira/" target="_blank" rel="noopener">{% include home-icon-instagram.svg %}</a>
    </footer>
  </div>

</body>
</html>
