.wrapper {
  margin-top: 2em;
  padding: 1em;
}

.box {
  margin: 0 auto;
  border: 1px solid #999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 640px;
  min-height: 400px;
}

header {
  padding-bottom: 0.75em;
  background-color: #88bde5;
  border-bottom: 1px solid #7db5d8;
  color: #0e4351;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0.25em;
}

h2 {
  margin: 0;
  font-size: 1em;
}

footer {
  padding: 0.5em;
  background-color: #EFEFEF;
  border-top: 1px solid #CCC;
  text-align: center;
}

.social {
  margin-top: 8px;
}

.social > a {
  padding: 8px;
  text-decoration: none;
}

.body {
  padding: 0.5em;
}

.body > div:first-of-type {
  margin: 1em 0;
}

.flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-valign {
  flex-direction: column;
  justify-content: center;
}

.half {
  width: 50%;
}

.third {
  width: 33.33%;
}

.quarter {
  width: 25%;
}

.center {
  text-align: center;
}

.icon-spaced {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

div.img-spaced {
  padding: 0 2em;
  vertical-align: middle;
}

img.img-responsive {
  max-width: 100%;
}
