@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030917;
  color: #ffffff;
  height: 100vh;
}

.vcard {
  text-align: center;
}

.vcard .avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 3px solid #ffffff;
}
