@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  align-self: center;
  width: 1280px;
}

.void {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #030917;
}

.galaxy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: lively-galaxy;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes lively-galaxy {
  0% {
    background-position: 0 0;
    transform: rotate(0deg);
    opacity: 1;
  }
  10% {
    background-position: 3px 0;
    transform: rotate(0.1deg);
    opacity: 0.9;
  }
  20% {
    background-position: 0 3px;
    transform: rotate(0deg);
    opacity: 1;
  }
  30% {
    background-position: -3px 0;
    transform: rotate(0deg);
    opacity: 0.85;
  }
  40% {
    background-position: 0 -3px;
    transform: rotate(-0.1deg);
    opacity: 0.8;
  }
  50% {
    background-position: 0 3px;
    transform: rotate(0deg);
    opacity: 0.9;
  }
  60% {
    background-position: -3px 0;
    transform: rotate(0deg);
    opacity: 1;
  }
  70% {
    background-position: 0 0;
    transform: rotate(0.1deg);
    opacity: 0.85;
  }
  80% {
    background-position: 3px 0;
    transform: rotate(0deg);
    opacity: 0.8;
  }
  90% {
    background-position: 0 3px;
    transform: rotate(0deg);
    opacity: 0.9;
  }
  100% {
    background-position: 0 0;
    transform: rotate(0deg);
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100vh;
}

.topbar {
  margin: 4em;
  display: flex;
  flex-direction: row;
}

.topbar .brand {
  flex: 1;
  font-size: 1.6em;
}

.topbar .brand a {
  color: #ffffff;
  text-decoration: none;
}

.topbar .navbar {
  font-size: 1.6em;
}

.navbar a {
  margin: 0 2em;
  color: #ffffff;
  text-decoration: none;
}

.vcard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vcard .avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 3px solid #ffffff;
}

.vcard .name {
  margin: 1rem;
  font-size: 5em;
}

.vcard .role {
  margin: 0;
  font-size: 3em;
}

.scroll-hint {
  margin: 4em;
  cursor: pointer;
}

@keyframes scroll-hint-idle {
  40% {
    opacity: 0.5;
    transform: translateY(1em);
  }
  50% {
    opacity: 0.55;
    transform: translateY(0.5em);
  }
  60% {
    opacity: 0.6;
    transform: translateY(1em);
  }
}

.scroll-hint svg {
  max-height: 50px;
  fill: #ffffff;
  opacity: 0.25;
  animation-name: scroll-hint-idle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scroll-hint-hover {
  40% {
    opacity: 0.5;
    transform: translateY(1em);
  }
  50% {
    opacity: 0.65;
    transform: translateY(0.5em);
  }
  60% {
    opacity: 0.75;
    transform: translateY(1.5em);
  }
}

.scroll-hint:hover svg {
  animation-name: scroll-hint-hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.row {
  margin: 2em;
  display: flex;
}

.row .column {
  margin: 2em;
  flex: 1;
}

.column .section-title {
  margin: 0;
  font-size: 3.2em;
  color: #012f6e;
}

.column .subtitle {
  margin: 1rem 0;
  font-size: 1.6em;
  color: #ae43e5;
}

.column .feature-title {
  font-size: 1.9em;
  color: #295890;
}

.column p,
.column ul {
  font-size: 1.6em;
  line-height: 1.7em;
  color: #555555;
}

.column ul {
  padding: 0;
  list-style: none;
}

.column ul.horizontal-list {
  line-height: 1em;
}

.column ul.horizontal-list li {
  display: inline-block;
}

.column ul.horizontal-list li:after {
  content: " \00B7 ";
}

.column ul.horizontal-list li:last-of-type:after {
  content: "";
}

.language {
  text-transform: capitalize;
}
